[build]
  command = "pnpm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Enable Next.js Image Optimization
[[redirects]]
  from = "/_next/image/*"
  to = "/_next/image/:splat"
  status = 200

# Enable Next.js static optimization
[[redirects]]
  from = "/_next/static/*"
  to = "/_next/static/:splat"
  status = 200
